body {
    background-color: #88c1d0;
}

/* Pour les écrans entre 1680px et 1920px */
@media (min-width: 1680px) and (max-width: 1920px) {
    body {
        background-color: #ffca4b;
    }
}

/* Pour les écrans entre 1280px et 1680px */
@media (min-width: 1280px) and (max-width: 1680px) {
    body {
        background-color: #275fa0;
    }
}

/* Pour les écrans inférieurs à 1280px */
@media (max-width: 1279px) {
    body {
        background-color: #ffffff;
    }
}
